body
{
color: white;
}
#footer
{
    background-color: beige;
    text-align: center;
    position:fixed;
    bottom: 0;
    width: 100%;
    color: darkgoldenrod;
}
h1
{
color: white;
}
#bg
{
    background-color: navy;
}
